$color1: #CCEAF4;
$color2: #A9A9A9;
$color3: #F53C3E;
$color4: #232323;
$color5: #EFEFEF;


.bg-1{
  background-color: $color1 !important;
}
.bg-2{
  background-color: $color2 !important;
}
.bg-3{
  background-color: $color3 !important;
}
.bg-4{
  background-color: $color4 !important;
}
.bg-5{
  background-color: $color5 !important;
}

.color-1{
  color: $color1 !important;
}
.color-2{
  color: $color2 !important;
}
.color-3{
  color: $color3 !important;
}
.color-4{
  color: $color4 !important;
}
.color-5{
  color: $color5 !important;
}