<p-menubar [model]="items" styleClass="bg-menubar">
  <ng-template pTemplate="end">
    <img src="../../assets/hr.png" height="40" class="mr-2">
  </ng-template>

</p-menubar>


<div class="grid justify-content-center border-1 h-20rem">
  <div class="col-6 border-1">
    <div class="flex flex-column justify-content-center align-items-center h-full">
      <h1>¡Bienvenidos!</h1>
      <p>¿Que deseas buscar?</p>

      <div class="p-inputgroup">
        <input #inputValue type="text" pInputText placeholder="Keyword" (keyup.enter)="searchImg(inputValue)" class="w-full">
        <button type="button" pButton pRipple label="Search" (click)="searchImg(inputValue)"></button>

      </div>
    </div>
  </div>
</div>

<div class="grid justify-content-center">
  <div class="col-12">
    <div class="grid justify-content-center gap-3">
      <div *ngFor="let img of imgRegular" class="col-11 md:col-5 lg:col-3">
        <img [src]="img" class="w-full h-full" alt="">
      </div>
    </div>
    <div class="grid justify-content-center">

      <div class="col">
        <p-paginator [rows]="1" [totalRecords]="totalPages" (onPageChange)="changePage($event)"></p-paginator>
      </div>
    </div>
  </div>
</div>